@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {Keyword | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);

}

$lightBlue: #a3daff;
$mediumBlue: #1ec0ff;
$darkBlue: #0080fe;
$altBlue: #008c9e;

body {
  @include linear-gradient($mediumBlue, $darkBlue);
  //background-color: $altBlue;
}

/// Heaader ////
.navbar {
  background-color: $mediumBlue;
  margin-bottom: 0px;

}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

header {
  padding: 20px 0px 20px 10px;
  margin: 0px 0;
  @include linear-gradient($mediumBlue, $darkBlue);
}

header h1 {
  padding-top: 50px;
  color: #FFFFFF;
}

///Pages //
.inner-content {
  background-color: white;
  h1 {
    font-size: 32px;
  }
}

.leadpic {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.panel-info > .panel-heading {
  color: white;
  background-color: $darkBlue;
  border-color: $mediumBlue;
}

.panel-body {
  font-size: 24px;
  span {
    font-weight: 600;
  }

}

///Footer///
footer {
  min-height: 40px;
  background-color: $mediumBlue;
  padding-left: 20px;
  padding-top: 10px;
  color: white;
}

///fixtures

.fixtures, .overall {
  font-size: 16px;
  line-height: 1.8;
  span {
    padding-right: 5px;
  }
  ul > li {
    list-style: none;
  }
}

///TeamSheets///

.player {
  padding-bottom: 20px;
  padding-top: 10px;
}

.odd {
  background-color: #ddeaff;
}

.even {
  background-color: #bdd5fc;
}

.fixturetext {
  font-size: 19px;
}

.pad-bot {
  padding-bottom: 20px;
}

.weather-box {
  background-color: rgba(54, 210, 203, 0.17);
  border: 1px solid white;
  padding: 10px;
  min-height: 203px;
  margin-bottom: 25px;
}

.negative-top{
  margin-top: -40px;
}

.padding-left{
  padding-left: 23px;
}